@font-face {
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', sans-serif;
    src: url('https://fonts.google.com/share?selection.family=Roboto%7CShrikhand');
}

* {
    font-family: 'Roboto', sans-serif; 
}

