* {
    font-family: 'Roboto', sans-serif;
}

$base-font-size: 14px;

@import "lib/minireset.scss";
@import "lib/variables.scss";
@import "lib/mixins.scss";
@import "lib/functions.scss";
@import "lib/animations.scss";
@import "lib/responsive.scss";

body {
    background: #fff;
}

#blocPage{
    max-width: 768px;
    margin: auto;
}

/*header*/
header {
    @include disJC;
    height: $height + 20px;
}

.logo {
    width: 100%;
    @include disJ;
    position: relative;

    & a {
        position: absolute;
        top: 4px;
        left: 20px;
        font-size: $size + 6px;

        &:hover {
            text-shadow: 1px 1px 5px rgb(107, 107, 107);
        }
    }
}

.picture {
    width: 100%;
    height: 500px;
    object-fit: cover;
}

/*Section menu*/
.menu {
    background-color: lighten($grey, 45);
    margin-top: -50px;
    border-radius: 35px 35px 0 0;
    position: relative;
    z-index: 1;
    padding: 0 20px;

    &__title {
        @include disCB;
        height: $height + 70px;

        /*Effet dégradé au clic ou au survol du coeur*/
        &::before {
            @include heart;
            top: 50px;
            right: 40px;
        }
    
        &:active::before {
            color: transparent;
        }
    
        &::after {
            @include heart;
            top: 50px;
            right: 40px;
            font-weight: 900;
            opacity: 0;
            color: transparent;
        }
    
        &:active::after {
            opacity: 1;
        }

        h2 {
            font-family: 'Shrikhand', cursive;
            font-size: $size + 12px;
        }

        span {
            @include disC;
        }
    }

    h3 {
        position: relative;
        font-family: 'Roboto', sans-serif;
        color: black;
        padding: 0;
        margin-bottom: 20px;

        &::before {
            content: "";
            position: absolute;
            border-bottom: 3px solid $tertiary;
            left: 0;
            top: 27px;
            width: 49px;
        }
    }

    &__text {
        display: flex;
        margin-bottom: 20px;
        background-color: #fff;
        border-radius: 15px;
        overflow: hidden;
        
        &:hover .menu__text--icone {
                margin-right: 0;
            
            i {
                animation: icone 0.4s ease-in-out;
            }
        }

        &--one { 
            overflow: hidden;
            font-size: $size + 4px;
            padding: 15px;

            h4, p {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            h4 {
                font-weight: bold;
            }
        }

        &--two {
            display: flex;
            align-items: flex-end;
            margin-left: auto;
            font-weight: bold;
            padding: 15px;
        }
            
        &--icone {
            @include disJC;       
            margin-right: -60px;
            width: 60px;
            background-color: $tertiary;
            transition: margin-right 0.3s ease-in-out;

            i {
                display: inline-block;
                @include disJC;
                height: $height - 25;
                width: 25px;
                border-radius: 25px;
                background-color: white;
                color: $tertiary;
                white-space: nowrap;
                overflow: hidden;
            }
        }   
    }   
}

/*Bouton rose "commander"*/
.btn-pink {
    @include disJC;
    padding: 20px 0 70px 0;

    &--exp {
        @include disJC;
        width: 200px;
        height: $height;
        border-radius: 25px;
        background: linear-gradient(to left top, $primary, $secondary);
        box-shadow: $shadow;
        text-align: center;
        color: #fff;
        
        &:hover {
            background: linear-gradient(
            to left top,
            lighten($primary, 5%),
            lighten($secondary, 5%)); 
            box-shadow: 1px 3px 12px rgb(113, 113, 113); 
        }
    }
}

/*footer*/
footer {
    background-color: darken($grey, 30);
}

h3 {
    padding: 20px 0 0 20px;
    font-family: 'Shrikhand', cursive;
    font-size: $size + 4px;
}

footer a,
footer h3 {
    color: #fff;
}

footer nav {
    padding: 20px;
    
    li {
        padding-bottom: 10px;
    }
    
    i {
        padding-right: 15px;
    }
}