* {
    font-family: 'Roboto', sans-serif;
}

$base-font-size: 14px;

@import "lib/minireset.scss";
@import "lib/variables.scss";
@import "lib/mixins.scss";
@import "lib/functions.scss";
@import "lib/responsive.scss";

body {
    background: #fff;
}

#blocPage{
    max-width: 768px;
    margin: auto;
}

/*header*/
header {
    height: $height + 20px;
}
    
.logo {
    width: 100%;
    @include disJ;
}

header,
.search {
    @include disJ;
    align-items: center;
}

/*section search*/
.search {
    height: $height;
    &__form {
        @include disJ;
        width: 100%;
        height: $height;
    }
    
    &__label {
        width: 100%;
        @include disJ;
        background-color: $grey;
        &--pad {
            padding-right: 15px;
        }
    }
    
    &__input {
        font-size: $size;
        background-color: $grey;
        &--border {
            border: 0;
        }
        &--opa::placeholder{
            color: black;
            font-weight: bold;
        }
        &--moz::-moz-placeholder{
            font-weight: bold;
            opacity: 1;
        }
    }
}

.icone {
    @include disJC;
}

/*Section explore*/
.explore {
    padding: 50px 0;
    text-align: center;
    background-color: $lightgrey;
}
    
h1 {
    font-weight: bold;
    font-size: $size + 10px;
}

.btn {
    @include disJC;

    &--exp {
    @include disJC;
    width: $width - 40;
    height: $height;
    border-radius: 25px;
    background: linear-gradient(to left top, $primary, $secondary);
    box-shadow: 1px 3px 12px rgb(162, 162, 162);
    text-align: center;
    color: #fff;  
    }
}

/*Section functioning*/
h2 {
    font-size: $size + 6px;
    font-weight: bold;
}

/*Section resto*/
.four{
    @include disJ;
    width: 100%;
    &__card {
        width: 100%;
        &--frame img {
            @include frame;
        }
    }
}

/*footer*/
footer {

}

h3 {
    font-family: 'Shrikhand', cursive;
}