* {
    font-family: 'Roboto', sans-serif;
}

$base-font-size: 14px;

@import "lib/minireset.scss";
@import "lib/variables.scss";
@import "lib/mixins.scss";
@import "lib/functions.scss";
@import "lib/animations.scss";

body {
    background: #fff;
}

#blocPage{
    min-width: 300px;
    margin: auto;
}

/*loader*/
.loader {
    position: fixed;
    @include disJC;
    height: 100vh;
    inset: 0;
    background-color: rgb(54, 62, 57);
    z-index: 2;
    opacity: 0.9;
    animation: loader 200ms 3s forwards;
    transform-origin: top;

    &__letter {
        color: #FF79DA;
        font-family: 'Shrikhand', cursive;
        font-size: 30px;
        letter-spacing: 15px;
        animation: flash 0.8s linear infinite;

        &:nth-child(1) {
            animation-delay: 0.1s; 
        }
        &:nth-child(2) {
            animation-delay: 0.2s; 
        }
        &:nth-child(3) {
            animation-delay: 0.3s; 
        }
        &:nth-child(4) {
            animation-delay: 0.4s; 
        }
        &:nth-child(5) {
            animation-delay: 0.5s; 
        }
        &:nth-child(6) {
            animation-delay: 0.6s; 
        }
        &:nth-child(7) {
            animation-delay: 0.7s; 
        }
        &:nth-child(8) {
            animation-delay: 0.8s; 
        }
    }
}

/*header*/
header {
    @include disJC;
    height: $height + 20px;
}
    
.logo {
    width: 100%;
    @include disJ;
}

header,
.search {
    @include disJ;
    align-items: center;
}

/*section search*/
.search {
    height: $height;
    border-top: 3px solid rgb(200, 200, 200);
    &__form {
        @include disJ;
        width: 100%;
        height: $height;
    }
    
    &__label {
        width: 100%;
        @include disJ;
        background: lighten($grey, 40);
        &--pad {
            padding-right: 15px;
        }
    }
    
    &__input {
        font-size: $size;
        background: lighten($grey, 40);
        &--border {
            border: 0;
        }
        &--opa::placeholder{
            color: black;
            font-weight: bold;
        }
        &--moz::-moz-placeholder{
            font-weight: bold;
            opacity: 1;
        }
    }
}

.icone {
    @include disJC;
}

/*sections padding and title*/
.explore,
.functioning,
.four {
    padding: 50px 0;
}

.explore h1, 
.functioning h2,
.four h2 {
    margin-bottom: $down;
}

/*Section explore*/
.explore {
    text-align: center;
    background: lighten($grey, 45);
    
    h1 {
        font-weight: bold;
        font-size: $size + 5;
    }

    p {
        margin-bottom: $down + 15;    
    }
}

.btn-pink {
    @include disJC;

    &--exp {
        @include disJC;
        width: 200px;
        height: $height;
        border-radius: 25px;
        background: linear-gradient(to left top, $primary, $secondary);
        transition: transform 450ms, background-color 300ms 150ms;
        box-shadow: $shadow;
        text-align: center;
        color: #fff;
        
        &:hover {
            background: linear-gradient(
            to left top,
            lighten($primary, 5%),
            lighten($secondary, 5%)); 
            box-shadow: 1px 3px 12px rgb(113, 113, 113); 
        }
    }
}

/*Section functioning*/
.functioning {
    @include disJC;
    padding: 0 20px;

    h2 {
        width: 100%;
        margin-bottom: 35px;
        padding-top: 80px;
        font-size: $size + 10px;
        font-weight: bold;
    }

    ol {
        @include disJC;
        counter-reset: numbers;

        .btn {
            @include disJC;
            font-weight: bold;
        }
    }
}
        
.functioning li {
    counter-increment: numbers;
    @include disJC;
    margin-bottom: $down;
    margin-right: 20px;
    position: relative;
                    
    &::before {
        content: counter(numbers);
        position: absolute;
        @include disJC;
        background: $primary;
        color: #fff;
        width: 25px;
        height: 25px;
        border-radius: 25px;
        left: 0;
    }

    a {
        @include disJC;
        background-color: lighten($grey, 45);
        border-radius: 25px;
        padding: 20px 30px;
        margin-left: 9px;
        box-shadow: $shadow;
                
        &:hover {
            background: lighten($primary, 35%);
            box-shadow: 1px 3px 12px rgb(141, 141, 141);
                    
            i {
                color: $primary;
            }
        }
    }
}

.margColor {
    margin-right: 15px;
    color: grey;
}

/*Section restaurant*/
.restaurant {
    @include dis;
    width: 100%;
    height: auto;
    background: lighten($grey, 45);

    h2 {
        width: 100%;
        padding: 80px 0 0 20px;
        font-size: $size + 10px;
        font-weight: bold;
    }
}

.one-set {
    @include dis;
    width: 100%;
}

.one {
    @include disJ;
    position: relative;
    width: 100%;
    padding: 20px;

    /*Effet dégradé au clic ou au survol du coeur*/
    & i::before {
        @include heart;
    }
    
    & i:active::before {
        color: transparent;
    }
    
    & i::after {
        @include heart;
        font-weight: 900;
        opacity: 0;
        color: transparent;
    }
    
    & i:active::after {
        opacity: 1;
    }

    &--green {
        position: absolute;
        top: 40px;
        right: 40px;
        cursor: pointer;
        padding: 10px;
        background-color: $tertiary;
        font-weight: bold;
        color: darken($tertiary, 40);
        border-radius: 4px;
    }

    &__card {
        @include dis;
        width: 100%;
        height: 300px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: $down - 5;
        &--frame {
            width: 100%;
            height: 230px;
        }
        &--frame img {
            @include frame;
            border-radius: 20px 20px 0 0;
        }
    }
    &__text {
        @include dis;
        width: 100%;
        height: 70px;
        padding: 15px 0 15px 10px;
        
        &--resto {
            @include disB;
            width: 100%;
            font-weight: bold;
        }
    }
}

/*footer*/
footer {
    background-color: darken($grey, 30);
}

h3 {
    padding: 20px 0 0 20px;
    font-family: 'Shrikhand', cursive;
    font-size: $size + 4px;
}

footer a,
footer h3 {
    color: #fff;
}

footer nav {
    padding: 20px;
    
    li {
        padding-bottom: 10px;
    }
    
    i {
        padding-right: 15px;
    }
}