* {
    font-family: 'Roboto', sans-serif;
}

$base-font-size: 14px;

@import "lib/minireset.scss";
@import "lib/variables.scss";
@import "lib/mixins.scss";
@import "lib/functions.scss";
@import "lib/responsive.scss";

body {
    background: #fff;
}

#blocPage{
    max-width: 768px;
    margin: auto;
}

/*header*/
header {
    height: $height + 20px;
}
    
.logo {
    width: 100%;
    @include disJ;
}

header,
.search {
    @include disJ;
    align-items: center;
}

/*section search*/
.search {
    height: $height;
    border-top: 3px solid rgb(200, 200, 200);
    &__form {
        @include disJ;
        width: 100%;
        height: $height;
    }
    
    &__label {
        width: 100%;
        @include disJ;
        background: lighten($grey, 40);
        &--pad {
            padding-right: 15px;
        }
    }
    
    &__input {
        font-size: $size;
        background: lighten($grey, 40);
        &--border {
            border: 0;
        }
        &--opa::placeholder{
            color: black;
            font-weight: bold;
        }
        &--moz::-moz-placeholder{
            font-weight: bold;
            opacity: 1;
        }
    }
}

.icone {
    @include disJC;
}

/*sections padding and title*/
.explore,
.functioning,
.four {
    padding: 50px 0;
}

.explore h1, 
.functioning h2,
.four h2 {
    margin-bottom: $down;
}

/*Section explore*/
.explore {
    text-align: center;
    background: lighten($grey, 45);
}
    
h1 {
    font-weight: bold;
    font-size: $size + 5;
}

p {
    margin-bottom: $down + 15;    
}

.btn-pink {
    @include disJC;

    &--exp {
        @include disJC;
        width: 200px;
        height: $height;
        border-radius: 25px;
        background: linear-gradient(to left top, $primary, $secondary);
        box-shadow: $shadow;
        text-align: center;
        color: #fff;
        
        &:hover {
            background: linear-gradient(
            to left top,
            lighten($primary, 7%),
            lighten($secondary, 7%)); 
            box-shadow: 1px 3px 12px rgb(113, 113, 113); 
        }
    }
}

/*Section functioning*/
h2 {
    font-size: $size + 6px;
    font-weight: bold;
}

.btn {
    font-weight: bold;
    
    ol {
        counter-reset: numbers;
    }
}
        
.functioning li {
    counter-increment: numbers;
    @include disC;
    margin-bottom: $down - 5;
    position: relative;
                    
    &::before {
        content: counter(numbers);
        position: absolute;
        background: $primary;
        color: #fff;
        border-radius: 25px;
        padding: 0px 6px;
    }

    a {
        background-color: lighten($grey, 45);
        border-radius: 25px;
        padding: 20px 30px;
        margin-left: 9px;
        box-shadow: $shadow;
                
        &:hover {
            background: lighten($primary, 35%);
            box-shadow: 1px 3px 12px rgb(113, 113, 113);
                    
            i {
                color: $primary;
            }
        }
    }
}

.margColor {
    margin-right: 15px;
    color: grey;
}

/*Section restaurant*/
.restaurant {
    @include disJ;
    width: 100%;
    height: auto;
    background: lighten($grey, 45);
}

.one {
    @include disJ;
    // position: relative;
    width: 100%;

    &__card {
        @include dis;
        width: 100%;
        height: 300px;
        background-color: #fff;
        border-radius: 20px;
        margin-bottom: $down - 5;
        &--frame {
            width: 100%;
            height: 230px;
        }
        &--frame img {
            @include frame;
            border-radius: 20px 20px 0 0;
        }
    }
    &__text {
        @include dis;
        width: 100%;
        height: 70px;
        &--resto {
            @include disB;
            width: 100%;
            font-weight: bold;
        }
    }
}

.one i {
    @include disJC;
    // position: absolute;
    // position: relative;
    transform: scale(1);
    transition-property: transform;
    transition: all 750ms;
    

    &:hover {
        content: "\f004";
        font-family: FontAwesome;  
        background: linear-gradient($primary, $secondary);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

/*footer*/
footer {
    background-color: darken($grey, 30);
}

h3 {
    padding: 20px 0 0 20px;
    font-family: 'Shrikhand', cursive;
}

footer a,
h3 {
    color: #fff;
}

footer nav {
    padding: 20px;
}