@charset "UTF-8";
* {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style-type: none;
}

a {
  display: block;
  text-decoration: none;
  color: black;
}

span {
  display: block;
}

*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@keyframes icone {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
body {
  background: #fff;
}

#blocPage {
  max-width: 768px;
  margin: auto;
}

/*header*/
header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.logo a {
  position: absolute;
  top: 4px;
  left: 20px;
  font-size: 22px;
}
.logo a:hover {
  text-shadow: 1px 1px 5px rgb(107, 107, 107);
}

.picture {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

/*Section menu*/
.menu {
  background-color: #f3f3f3;
  margin-top: -50px;
  border-radius: 35px 35px 0 0;
  position: relative;
  z-index: 1;
  padding: 0 20px;
}
.menu__title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  /*Effet dégradé au clic ou au survol du coeur*/
}
.menu__title::before {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 267px;
  right: 40px;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  opacity: 1;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 200ms ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  top: 50px;
  right: 40px;
}
.menu__title:active::before {
  color: transparent;
}
.menu__title::after {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  top: 267px;
  right: 40px;
  font-size: 26px;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f004";
  opacity: 1;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: all 200ms ease-in-out;
  background-clip: text;
  -webkit-background-clip: text;
  color: inherit;
  top: 50px;
  right: 40px;
  font-weight: 900;
  opacity: 0;
  color: transparent;
}
.menu__title:active::after {
  opacity: 1;
}
.menu__title h2 {
  font-family: "Shrikhand", cursive;
  font-size: 28px;
}
.menu__title span {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.menu h3 {
  position: relative;
  font-family: "Roboto", sans-serif;
  color: black;
  padding: 0;
  margin-bottom: 20px;
}
.menu h3::before {
  content: "";
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  left: 0;
  top: 27px;
  width: 49px;
}
.menu__text {
  display: flex;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 15px;
  overflow: hidden;
}
.menu__text:hover .menu__text--icone {
  margin-right: 0;
}
.menu__text:hover .menu__text--icone i {
  animation: icone 0.4s ease-in-out;
}
.menu__text--one {
  overflow: hidden;
  font-size: 20px;
  padding: 15px;
}
.menu__text--one h4, .menu__text--one p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu__text--one h4 {
  font-weight: bold;
}
.menu__text--two {
  display: flex;
  align-items: flex-end;
  margin-left: auto;
  font-weight: bold;
  padding: 15px;
}
.menu__text--icone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin-right: -60px;
  width: 60px;
  background-color: #99E2D0;
  transition: margin-right 0.3s ease-in-out;
}
.menu__text--icone i {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  background-color: white;
  color: #99E2D0;
}

/*Bouton rose "commander"*/
.btn-pink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px 0 70px 0;
}
.btn-pink--exp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 1px 4px 9px rgb(200, 200, 200);
  text-align: center;
  color: #fff;
}
.btn-pink--exp:hover {
  background: linear-gradient(to left top, #a16be0, #ff93e1);
  box-shadow: 1px 3px 12px rgb(113, 113, 113);
}

/*footer*/
footer {
  background-color: #343434;
}

h3 {
  padding: 20px 0 0 20px;
  font-family: "Shrikhand", cursive;
  font-size: 20px;
}

footer a,
footer h3 {
  color: #fff;
}

footer nav {
  padding: 20px;
}
footer nav li {
  padding-bottom: 10px;
}
footer nav i {
  padding-right: 15px;
}

/*# sourceMappingURL=_menu.css.map */
