* {
  font-family: "Roboto", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul,
ol {
  list-style-type: none;
}

a, span {
  display: block;
  text-decoration: none;
  color: black;
}

*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #fff;
}

#blocPage {
  max-width: 768px;
  margin: auto;
}

/*header*/
header {
  height: 70px;
}

.logo {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header,
.search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/*section search*/
.search {
  height: 50px;
  border-top: 3px solid rgb(200, 200, 200);
}
.search__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 50px;
}
.search__label {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #e6e6e6;
}
.search__label--pad {
  padding-right: 15px;
}
.search__input {
  font-size: 16px;
  background: #e6e6e6;
}
.search__input--border {
  border: 0;
}
.search__input--opa::placeholder {
  color: black;
  font-weight: bold;
}
.search__input--moz::-moz-placeholder {
  font-weight: bold;
  opacity: 1;
}

.icone {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

/*sections padding and title*/
.explore,
.functioning,
.four {
  padding: 50px 0;
}

.explore h1,
.functioning h2,
.four h2 {
  margin-bottom: 20px;
}

/*Section explore*/
.explore {
  text-align: center;
  background: #f3f3f3;
}

h1 {
  font-weight: bold;
  font-size: 21px;
}

p {
  margin-bottom: 35px;
}

.btn-pink {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.btn-pink--exp {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border-radius: 25px;
  background: linear-gradient(to left top, #9356DC, #FF79DA);
  box-shadow: 1px 3px 12px rgb(162, 162, 162);
  text-align: center;
  color: #fff;
}
.btn-pink--exp:hover {
  background: linear-gradient(to left top, #a674e2, #ff9de4);
}

/*Section functioning*/
h2 {
  font-size: 22px;
  font-weight: bold;
}

.btn {
  font-weight: bold;
}
.btn ol {
  counter-reset: numbers;
}

.functioning li {
  counter-increment: numbers;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}
.functioning li::before {
  content: counter(numbers);
  position: absolute;
  background: #9356DC;
  color: #fff;
  border-radius: 25px;
  padding: 0px 6px;
}
.functioning li a {
  background-color: #f3f3f3;
  border-radius: 25px;
  padding: 20px 30px;
  margin-left: 9px;
  box-shadow: 1px 3px 12px rgb(162, 162, 162);
}
.functioning li a:hover {
  background: #f2eafb;
}
.functioning li a:hover i {
  color: #9356DC;
}

.margColor {
  margin-right: 15px;
  color: grey;
}

/*Section four*/
.four {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  background: #f3f3f3;
}
.four__card {
  width: 100%;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.four__card--frame img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
.four__text {
  display: flex;
  flex-wrap: wrap;
}
.four__text--resto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
}

.four i {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  /*position: relative;*/
}
.four i:hover {
  /*position: absolute;*/
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.look {
  position: absolute;
  right: -9999px;
}

/*footer*/
footer {
  background-color: #343434;
}

h3 {
  padding: 20px;
  font-family: "Shrikhand", cursive;
}

footer a,
h3 {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
